@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playwrite+AU+QLD:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
}



div.main-title {
    font-family: "Playwrite AU QLD", cursive;
    background-color:red;
    text-align: center;
    padding: 25px;
}

div.main-title h1 {
    color: white;
    border: white 5px solid;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
}

main {
    font-family: "Ojuju", sans-serif;
}

nav.nav-links {
    font-family: "Ojuju", sans-serif;
    background-color: grey;
    padding: 10px;
    text-align: center;
}

nav.nav-links a {
    color: white;
    margin: 120px;
}

.nav-link:hover {
    color: red;
}

div.banner-container img {
    width: 100%;
    border-bottom: red 10px solid;
    position: relative;
}

div.mario-intro h1 {
    color: white;
    border: white solid 5px;
    text-align: justify;
    padding: 10px 20px;
    font-size: 60px;
    position: absolute;
    bottom: -50px;
    left: 500px;
}

.mario-intro h1:hover {
    background-color: red;
}


div.mario-intro p {
    text-align: justify;
    margin: 20px 100px 30px;
    font-size: 25px;
    line-height: 50px;
}

h6 {
    color: white;
    background-color: grey;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

div.friend{
    text-align: center;
    background-color: lightgrey;
    margin: 70px 120px;
    border-radius: 30px;
    padding: 20px 0;
}

div.friend h4 {
    color: red;
    font-size: 30px;
}

div.friend p {
    margin-left: 30px;
    margin-right: 30px;
}

div.gallery {
    text-align: center;
    color: red;
    margin: 20px;
    font-size: 30px;
}

div.pictures {
    text-align: center;
    margin: 50px;
}

div.pictures img {
    margin: 5px;
    border-bottom: red 10px solid;
    width: 48%;
}

.pictures img:hover {
    box-shadow: 5px 5px 12px black;
}

div.parent-div {
    height: 400px;
    width: 400px;
    background-color: red;
    position: relative;
}

div.child-div{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: absolute; 
    left: 20px;
    top: 20px;
}

div.background img {
    width: 100%;
}

div.background {
    position: relative;
}

div.forms {
    height: 65%;
    width: 30%;
    background-color: lightgrey;
    border-radius: 25px;
    position: absolute;
    bottom: 70px;
    left: 70px;
    padding: 40px 10px;
}

div.forms input {
    margin: 20px 15px;
    font-size: 30px;
}
div.forms textarea {
    margin: 20px 15px;
    font-size: 30px;
}

input.end {
    color: white;
    background-color: red;
    padding: 10px 10px;
}

